@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1F2937;
  min-height: 50vh;
  padding: 0 15vw;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0 0 0;
  margin-bottom: 15%;
}

.header-top p {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header-top ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header-top a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  display: flex;
  padding: 0 0 125px 0;
  gap: 30px;
  flex-wrap: wrap;
}

.hero__text, .hero img {
  flex: 1 1 0;
}

.hero img {
  width: auto;
  height: auto;
}

.hero__text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero__text p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 1rem;
}

.hero__text button {
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 7px;
  font-weight: 700;
}

/* End of the header area */

.card-area h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 2% 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13%;
}

.card p {
  font-size: 18px;
  text-align: center;
}

.box {
  width: 13vw;
  height: 13vw;
  border: 3px solid #3882F6;
  border-radius: 10px;
}