/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

html {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1F2937;
  min-height: 50vh;
  padding: 0 15vw;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0 0 0;
  margin-bottom: 15%;
}

.header-top p {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header-top ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header-top a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  display: flex;
  padding: 0 0 125px 0;
  gap: 30px;
  flex-wrap: wrap;
}

.hero__text, .hero img {
  flex: 1 1 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero__text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero__text p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 1rem;
}

.hero__text button {
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 7px;
  font-weight: 700;
}

/* End of the header area */

.information h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 2% 0;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 10%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.card p {
  font-size: 18px;
  text-align: center;
}

.box {
  width: 200px;
  height: 200px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

/* End of information section */

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
}
/* first child is the quote */
.quote p:nth-child(1) {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding: 8% 15vw 0 24vw;
}
/* second child is the author */
.quote p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  padding: 1% 15vw 7% 17vw;
  text-align: right;
}

/* End of quote section */

.sign-up {
  display: flex;
  height: 20rem;
  align-items: center;
}

.blue-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 0 10vw;
  padding: 4% 8%;
  border-radius: 10px;
}

.blue-box, .blue-box button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.blue-box button {
  border-color: #F9FAF8;
  border-style: solid;
  border-radius: 7px;
  padding: 5px 35px;
  font-size: 16px;
  font-weight: 700;
}

.blue-box div p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}